<div class="bg-dark border-right p-3" id="sidebar">

    <h3 class="text-light">Gifs-App</h3>

    <hr class="text-light">

    <div class="list-group list-reset">
        <a *ngFor="let hist of historial" (click)="buscar(hist)" class="list-group-item list-group-item-action" >{{hist | titlecase}}</a>
    </div>

</div>